<section class="etc">
  <div class= "well">
    <a href="http://recognized.io?utm_source=blog.recognized.io&utm_medium=blog&utm_campaign=blog%20footer">
      <img src='{{asset "images/recognized-square-logo.jpg"}}' class="logo" alt="Recognized.io Logo">
    </a>
    <p>Take control of #RevRec with <a href="http://recognized.io?utm_source=blog.recognized.io&utm_medium=blog&utm_campaign=blog%20footer">Recognized.io</a>.
      One click integration with your Stripe account.</p>
  </div>
</section>
