<footer class="global-footer">
  <div class="nav-lists">
    <nav class="about">
      <h1>About</h1>
      <ul>
        <li><a href="http://recognized.io/terms_of_service">Terms of Service</a></li>
        <li><a href="http://recognized.io/privacy">Privacy Policy</a></li>
        <li><a href="http://blog.recognized.io/">Blog</a></li>
      </ul>
    </nav>

    <nav class="get-in-touch">
      <h1>Get in touch</h1>
      <ul>
        <li><a href="mailto:hello@recognized.io">Email us</a></li>
        <li>
          <ul class="social-links">
            <li>
              <a href="https://twitter.com/recognizedio" class="twitter">
                <i class="icon"></i>
                Twitter
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/4847828" class="linkedin">
                <i class="icon"></i>
                Linkedin
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/Recognizedio" class="facebook">
                <i class="icon"></i>
                Facebook
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <nav class="from-our-blog">
      <h1>From our Blog</h1>
      <ul>
        <li>
          <ul class="article-links">
            <li>
              <a href="http://blog.recognized.io/are-you-still-using-spreadsheets-to-calculate-revrec/">
                Are you still using spreadsheets to calculate #RevRec?
              </a>
            </li>
            <li>
              <a href="http://blog.recognized.io/is-it-software-or-is-it-software-as-a-service/">
                Is it Software or is it Software as a Service?
              </a>
            </li>
          </ul>
          <li><a href="http://blog.recognized.io/">Visit our Blog</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-bar">
      <div class="footer-bar-text">
        <a href="https://app.recognized.io" class="sign-in-link">Sign In</a>
        <div class="copyright">&copy; 2015, Recognized.io, Inc.</div>
      </div>
    </div>
  </footer>
