<header class="global-header">
  <div class="content">
    <a href="http://recognized.io" class="logo">
      <h1>Recognized.io</h1>
    </a>

    <nav class="nav">
      <ul>
        <li>
          <a href="https://app.recognized.io/sign_in" class="sign-in-link">Sign in</a>
        </li>
        <li>
          <a href="https://app.recognized.io/sign_up" class="sign-up-link">Try
            it Free</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
