.etc {
  border-top: #EBF2F6 1px solid;
  margin: 6rem 0 0 0;
  padding: 6rem 0 3rem 0;
  font-size: 1.75rem;
  text-align: center;
  /* font-weight: bold; */
  color: rgba(142, 146, 166, 0.96);

}

.etc  a {
  color: #0066A3;
  text-decoration: none;
}

.etc .logo {
  display: block;
  margin: 0 auto 3rem auto;
  height: 40px;
}

.etc .well {
  padding: 0 3rem;
}

.etc .well p {
  font-style: italic;
  margin-bottom: 0;
}

